<div>
  <style>

 button {
    height: 40px;
   width: 200px;
    background: orange;
   border: transparent;
    color: white;
    border-radius: 8px;
    text-align: center;
   text-decoration: none;
   font-weight: bold;
   margin-top: auto;
   margin: auto;
   text-transform: uppercase;
   font-family: "Roboto"

  }

 a {
    height: 40px;
   width: 200px;
    background: orange;
   border: transparent;
    color: white;
    border-radius: 8px;
    text-align: center;
   text-decoration: none;
   font-weight: bold;
   margin-top: auto;
   margin: auto;
   text-transform: uppercase;
   font-family: "Roboto"
  }
span {
  margin: auto 0;
}

  .brand {
    align: "center";
    text-align: "center";
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
  }

</style>


<div class="container">

  <div class="brand" align="center">
     Logo
  </div>

  <h3 align="center"> Olá, {{username}} </h3>

    <p align="center">Alguém (esperamos que você) solicitou a redefinição da senha da sua conta do Twitch. Clique no botão abaixo para fazê-lo.
       Se você não solicitou esta redefinição de senha, basta ignorar este email e continuar.</p>

       <button >
         <a href={{linkResetPassword}}>
             Redefinir Senha
         </a>
       
      </button>

</div>
</div>
